<!DOCTYPE html>
<html>
<head>
    <title>Edit Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_pass.css') }}">
</head>
<body>
    <div class="main">
        <h1>Edit Password</h1>
        <form method="POST" action="{{ url_for('edit_password') }}">
            <div class="form-field">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" id="new_password" required>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>
        <a href="/back_login" class="button">Back to Login</a>
    </div>
</body>
</html>