<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_users.css') }}">
</head>
<body>
    <div class="main">
        <h1 class="name">Edit User</h1>
        <form method="POST" action="{{ url_for('edit_user', email=user.email) }}" class="user-form">
            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="{{ user.name }}">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" value="{{ user.email }}" disabled>
            </div>
            <button type="submit" class="button">Save Changes</button>
        </form>
        <button href="/manage_users" class="button">Back to Manage Users</button>
    </div>
</body>
</html>
